/*this is my little element that is applied to the 
whole webpage. I started by eliminating the margins
and padding. This helps me focus my mind and helps me
to avoid stupid mistakes later because I forgot about
the defaults */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
}

/* Rest of code below */

#showcase ul {
    list-style-type: none;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

li a {
    display: block;
    border: solid 1px #000;
    border-radius: 10px;
    width: 160px;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #eee;
    color: #000;
    margin: 2px;
}

li a:hover {
    background-color: #1f2937;
    color: white;
}

li {
    text-align: center;
}

#showcase img {
    width: 75px;
    height: auto;
    padding: 0px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid 2px black;
    border-radius: 8px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    position: sticky; top: 0;
}

.headgroup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f2937;
    color: #eee;
}

#infobox {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 12px;
    border: #000 2px solid;
    border-radius: 10px;
}

#infobox h2 {
    font-weight: extra-bold;
    font-size: 48px;
    text-shadow: #000 2px 2px;
    margin:  0px;
    padding: 8px;
}

#infobox h3 {
    font-weight: 100;
    text-shadow: #000 2px 2px;
    margin:  0px;
    padding: 8px;
}

.headgroup img {
    height: auto;
    width: 500px;
    margin: 25px;
    border: solid #000 2px;
    border-radius: 10px;
}

.underline {
    border-bottom: #000 solid 4px;
}

#infobox button {
    width: fit-content;
    margin-left: 8px;
}

.midsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #b7baee4d;
}

.midsection img {
    border: #000 solid 2px;
    border-radius: 10px;
    height: auto;
    width: 190px;
    flex: 1;
    align-self: baseline;
}

.info {
    max-width: 200px;
    font-size: 11px;
    text-align: center;
}

.midsection p {
    border-radius: 33px;
    border: solid black 1px;
    padding: 8px;
    max-width: 200px;
    color: #eee;
    background-color: #1f2937;
}

.midsection p:hover {
    box-shadow: 2px 2px 2px 2px grey inset;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
    gap: 11px;
    background-color: #e5e7eb;
}

.testimonial h3 {
    align-self: center;
    max-width: 50%;
    margin-top: 33px;
    font-style: italic;
    font-weight: 100;
}

.testimonial h4 {
    width: 33%;
    font-size: 20px;
    align-self: flex-end;
    margin-bottom: 33px;
}

.cta {
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 66px;
    background-color: #3882f6;
    flex-grow: 1;
}

.footer {
    display: flex;
    margin: 22px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    padding: 8px;
    border: #3882f6 solid 1px;
    border-radius: 8px;
    color: #eee;
    padding-left: 24px;
    padding-right: 24px;
}

button:hover {
    background-color: #eee;
    color: #3882f6;
    box-shadow: 1px 1px 25px 1px #3882f6;
}

.cta button {
    border: #eee solid 1px;
}